@charset "utf-8";
* {
    font-family: 'Lato', 'Quicksand', cursive;
, sans-serif;
}
/*
===============================
UNIVERSAL STYLE
===============================
 */
body
{
    height: 100%;
    background-color:#242b31;
    vertical-align: middle;
    margin: 0 auto;

}

.fixed-top
{
    position: fixed;
    top: 0;
}
.banner
{
    background-color: #A62139;
    height:4em;
    width:auto;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
}
.title
{
    font-size: 100px;
    height: 150px;
    alignment: center;
    margin: 0 auto;
    text-align: center;
    color: #cccccc;
}
.footers
{
    background-color: #A62139;
    height:4em;
    width:auto;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
}
footer
{
    width:100%;
    margin-top:90px;
    text-align:center;
    color:#628277;
    clear:both;
}
footer>a
{
    color:#3A6B77;
    font-weight:bold;
    text-decoration: none;
}
footer>a:hover
{
    color:#87DDC6;
}

.fixed-bottom
{
    position:fixed;
    bottom:0;
}
.fixed-bottom-banner
{
    margin-right:0;
}
/*
===============================
LANDING PAGE
===============================
 */
input[type="text"], .table-container input
{
    padding-top: .3em;
    width: 850px;
    text-indent: 1%;
    padding-bottom: .4em;
    border: solid 3px #CF2424; /* fix */
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 4px;
}
.searchBarSpace
{
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.75em;
    margin-bottom: 0.5em;
}
#regionSelection
{
    width: 7em;
    outline: none;
    font-family: sans-serif;
    font-size: 17px;
    text-indent: 6%;
    box-shadow: none;
    border-radius: 4px;
    padding-top: .30em;
    padding-bottom: .30em;
    border: solid 3px #CF2424;
    transition: box-shadow 0.3s, border 0.3s;
}
.SummonerPrompt
{
    font-size: 25px;
    padding: 5px;
    width: 100%;
    height: 50px;
    margin: -20px auto;
    text-align: center;
    color: #cccccc;
}

.searchButtonSpace
{
    width: 100%;
    height: 100px;
    margin-top: 2.75em;
    margin-bottom: 0.5em;
    text-align: center;
}
.searchButton
{
    width: 400px;
    height: 50px;
}
#searchButton
{
    font-size: 19px;
    color: white;
    background-color: #A62139;
    border: 3px outset #CF2424;
    border-radius: 4px;
}

#searchButton:active
{
    background-color: #CF2424;
}
#searchButton:hover
{
    background-color: #CF2424;
    cursor: pointer;
}
.searchButtonSpaceSummonerPage
{
    width: 100%;
    height: 50%;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
.searchBarSpaceSummonerPage
{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.searchButtonSummonerPage
{
    position: relative;
    width: 100px;
    height: 60%;
    margin-right: 20px;
}

#regionSelection2
{
    width: 70px;
    outline: none;
    font-size: 17px;
    text-indent: 6%;
    box-shadow: none;
    border-radius: 4px;
    padding-top: .20em;
    padding-bottom: .34em;
    border: solid 3px #CF2424;
    transition: box-shadow 0.3s, border 0.3s;
}
#searchButton2
{
    height: 45%;
    margin-top:4px;
    font-size: 19px;
    color: white;
    background-color: #000000;
    border: 3px outset #000000;
    padding-bottom: 27px;
    outline: none;
}

#searchButton2:active
{
    background-color: #010700;
}
#searchButton2:hover
{
    background-color: #1c1c1c;
    cursor: pointer;
}
/*
===============================
Profile Page
===============================
 */
.nameplate
{
    Width: 100%;
    height: 110px;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin-top: auto;
}
.name
{
    display: inline-block;
    width: 50%;
    height: 100px;
    text-align: left;
    color: #cccccc;
    font-size: 100px;

}
.nameplate>.rank
{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: #cccccc;
    font-size: 25px;
}
.content
{
    width: 100%;
    height: 100%;
    margin: 20px auto;
    position: relative;
    text-align: center;
}
.content>.matchContent
{
    display: inline-block;
    width: 50%;
    height: 150px;
    vertical-align: 12px;
    margin: 5px auto;
    //background-color: #ffeff1;
    border-bottom-right-radius: 11px;
    border-top-right-radius: 11px;
    background-image: url("http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jinx_0.jpg");
    background-position: 100% 10%;

}
.content>.matchContent>.Champ
{
    text-align: center;
    display: inline-block;
    width: 11.5%;
    height: 150px;
 /*   background-color: #ffdfd3; */


}
.content>.matchContent>.Champ>.picture
{
    width: 100px;
    height: 150px;
    margin-top: 30px ;
    position: absolute;

}
.content>.matchContent>.KDA
{
    display: inline-block;
    width: 23.1%;
    height: 150px;
    text-align: center;
    vertical-align: top;

}
.content>.matchContent>.KDA>.kda
{
    height: 40px;
    margin-top: 45px ;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    /*background-color: #ffdfd3;*/
    border-radius: 9px;
}
.content>.matchContent>.items
{
    display: inline-block;
    width: 30%;
    height: 150px;
    vertical-align: top;
   /*background-color: #ffdfd3;*/
}
.content>.matchContent>.items>.itemsquares
{
    margin-top: 8.5px;
    text-align: center;
    display: inline-block;
    width: 60px;
    height: 60px;

}
.content>.matchContent>.items>.trinketcircle
{
    margin-top: 7.5px;
    text-align: center;
    display: inline-block;
    width: 25%;
    height: 60px;
    border-radius: 15px;
}
.content>.matchContent>.players
{
    display: inline-block;
    width: 33.5%;
    height: 150px;
    vertical-align: top;
}
.content>.matchContent>.players>.red
{
    display: inline-block;
    width: 100px;
    height: 150px;
    background: #cea7a7;
}
.content>.matchContent>.players>.red>.players
{
    display: inline-block;
    width: 60px;
    height: 30px;
    background: none;
    text-align: left;
}
.content>.matchContent>.players>.blue
{
    display: inline-block;
    width: 100px;
    height: 150px;
    background: #a3cfec;

}
.content>.matchContent>.players>.blue>.players
{
    display: inline-block;
    width: 60px;
    height: 30px;
    background: none;
    text-align: left;
}
.deadspacebottom
{
    width: 100%;
    height: 20px;
    position: relative;

}
/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



