@charset "utf-8";
* {
    font-family: 'Lato', 'Quicksand', cursive;
, sans-serif;
}
/*
===============================
UNIVERSAL STYLE
===============================
 */
body
{
    height: 100%;
    background-color:#242b31;
}
.banner
{
    background-color: #A62139;
    height:4em;
    width:auto;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.title
{
    font-size: 100px;
    height: 150px;
    alignment: center;
    margin: 0 auto;
    text-align: center;
    color: #cccccc;
}
.footers
{
    background-color: #A62139;
    height:4em;
    width:auto;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
}
footer
{
    width:100%;
    margin-top:90px;
    text-align:center;
    color:#628277;
    clear:both;
}
footer>a
{
    color:#3A6B77;
    font-weight:bold;
    text-decoration: none;
}
footer>a:hover
{
    color:#87DDC6;
}

.fixed-bottom
{
    position:fixed;
    bottom:0;
}
.fixed-bottom-banner
{
    margin-right:0;
}
/*
===============================
LANDING PAGE
===============================
 */
input[type="text"], .table-container input
{
    padding-top: .3em;
    width: 850px;
    text-indent: 1%;
    padding-bottom: .4em;
    border: solid 3px #CF2424; /* fix */
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 8px;
}
.searchBarSpace
{
    position: relative;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    margin-top: 2.75em;
    margin-bottom: 0.5em;
}
#regionSelection
{
    width: 7em;
    outline: none;
    font-family: sans-serif;
    font-size: 17px;
    text-indent: 6%;
    box-shadow: none;
    border-radius: 8px;
    padding-top: .35em;
    padding-bottom: .35em;
    border: solid 3px #CF2424;
    transition: box-shadow 0.3s, border 0.3s;
}
.SummonerPrompt
{
    font-size: 25px;
    padding: 5px;
    width: 550px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    align-self: center;
    color: #cccccc;
}

.searchButtonSpace
{
    width: 1000px;
    height: 50px;
    position: relative;
    margin: 0 38%;
    margin-top: 2.75em;
    margin-bottom: 0.5em;
}
#searchButton
{
    width: 400px;
    font-size: 19px;
    color: white;
    background-color: #A62139;
    border: 3px outset #CF2424;
    border-radius: 9px;
}

#searchButton:active
{
    background-color: #CF2424;
}
#searchButton:hover
{
    background-color: #CF2424;
    cursor: pointer;
}
/*
===============================
Profile Page
===============================
 */
.content
{
    width: 690px;
    position: relative;
}
.content>.matchContent
{
    display: inline-block;
    width: 690px;
    height: 150px;
    vertical-align: 12px;
    margin: 10px auto;
    align-content: center;
    background-color: #30cc98;
    border-radius: 9px;
}
.content>.matchContent>.Champ
{
    width: 100px;
    height: 150px;

}
.content>.matchContent>.KDA
{
    width: 100px;
    height: 150px;
    position: relative;

}
/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}



