@charset "utf-8";
* {
    font-family: 'Lato', 'Quicksand', cursive;
, sans-serif;
}
/*
===============================
UNIVERSAL STYLE
===============================
 */
body
{
    height: 100%;
    background-color:#242b31;
    vertical-align: middle;
    margin: 0 auto;

}

.fixed-top
{
    position: fixed;
    top: 0;
}
.banner
{
    background-color: #A62139;
    height:4em;
    width:auto;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
}
.title
{
    font-size: 100px;
    height: 150px;
    alignment: center;
    margin: 0 auto;
    text-align: center;
    color: #cccccc;
}
.footers
{
    background-color: #A62139;
    height:4em;
    width:auto;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
}
footer
{
    width:100%;
    margin-top:90px;
    text-align:center;
    color:#628277;
    clear:both;
}
footer>a
{
    color:#3A6B77;
    font-weight:bold;
    text-decoration: none;
}
footer>a:hover
{
    color:#87DDC6;
}

.fixed-bottom
{
    position:fixed;
    bottom:0;
}
.fixed-bottom-banner
{
    margin-right:0;
}
/*
===============================
LANDING PAGE
===============================
 */
input[type="text"], .table-container input
{
    padding-top: .3em;
    width: 850px;
    text-indent: 1%;
    padding-bottom: .4em;
    border: solid 3px #CF2424; /* fix */
    transition: box-shadow 0.3s, border 0.3s;
    border-radius: 4px;
}
.searchBarSpace
{
    position: relative;
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.75em;
    margin-bottom: 0.5em;
}
#regionSelection
{
    width: 7em;
    outline: none;
    font-family: sans-serif;
    font-size: 17px;
    text-indent: 6%;
    box-shadow: none;
    border-radius: 4px;
    padding-top: .30em;
    padding-bottom: .30em;
    border: solid 3px #CF2424;
    transition: box-shadow 0.3s, border 0.3s;
}
.SummonerPrompt
{
    font-size: 25px;
    padding: 5px;
    width: 100%;
    height: 50px;
    margin: -20px auto;
    text-align: center;
    color: #cccccc;
}

.searchButtonSpace
{
    width: 100%;
    height: 100px;
    margin-top: 2.75em;
    margin-bottom: 0.5em;
    text-align: center;
}
.searchButton
{
    width: 400px;
    height: 50px;
}
#searchButton
{
    font-size: 19px;
    color: white;
    background-color: #A62139;
    border: 3px outset #CF2424;
    border-radius: 4px;
}

#searchButton:active
{
    background-color: #CF2424;
}
#searchButton:hover
{
    background-color: #CF2424;
    cursor: pointer;
}
#insightButton {
    font-size: 19px;
    color: white;
    background-color: #A62139;
    border: 3px outset #CF2424;
    border-radius: 4px;
}
#insightButton:active
{
    background-color: #CF2424;
}
#insightButton:hover
{
    background-color: #CF2424;
    cursor: pointer;
}
.searchButtonSpaceSummonerPage
{
    width: 100%;
    height: 50%;
    margin-top: 20px;
    text-align: center;
    position: relative;
}
.searchBarSpaceSummonerPage
{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.searchButtonSummonerPage
{
    position: relative;
    width: 100px;
    height: 60%;
    margin-right: 20px;
}

#regionSelection2
{
    width: 70px;
    outline: none;
    font-size: 17px;
    text-indent: 6%;
    box-shadow: none;
    border-radius: 4px;
    padding-top: .20em;
    padding-bottom: .34em;
    border: solid 3px #CF2424;
    transition: box-shadow 0.3s, border 0.3s;
}
#searchButton2
{
    height: 45%;
    margin-top:4px;
    font-size: 19px;
    color: white;
    background-color: #000000;
    border: 3px outset #000000;
    padding-bottom: 27px;
    outline: none;
}

#searchButton2:active
{
    background-color: #010700;
}
#searchButton2:hover
{
    background-color: #1c1c1c;
    cursor: pointer;
}
/*
===============================
Profile Page
===============================
 */
.nameplate
{
    Width: 100%;
    height: 110px;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin-top: auto;
}
.name
{
    display: inline-block;
    width: 50%;
    height: 100px;
    text-align: left;
    color: #cccccc;
    font-size: 100px;

}
.nameplate>.rank
{
    display: inline-block;
    width: 50%;
    text-align: left;
    color: #cccccc;
    font-size: 25px;
}
.content
{
    width: 100%;
    height: 100%;
    margin: 20px auto;
    position: relative;
    text-align: center;
}
.content>.matchContent
{
    display: inline-block;
    width: 50%;
    min-width: 1000px;
    height: 100px;
    vertical-align: center;
    margin: 5px auto;
    /*background-color: #ffeff1;*/
    border-radius: 4px;
    background-image: url("/Icons/Empty.png");
    background-position: 100% 10%;

}
.content>.matchContent>.Champ
{
    display: inline-block;
    width: 11.5%;
    height: 100%

}
.content>.matchContent>.Champ>.picture {
    display: block;
    width: 100px;
    height: 50%;
    margin-top: 20px;
}
.content>.matchContent>.Champ>.SS
{
    width: 50px;
    height: 100px;
}
.content>.matchContent>.KDA
{
    display: inline-block;
    width: 20%;
    height: 100px;
    text-align: center;
    vertical-align: top;

}
.content>.matchContent>.KDA>.kda
{
    height: 40px;
    width: 130px;
    margin-top: 25px ;
    font-size: 35px;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-family: 'economica','sans-serif';
    color: rgb(173, 173, 173);
    background-color: #0a0b11;
    border-radius: 9px;
    visibility: hidden;
}
.content>.matchContent>.items
{
    display: inline-block;
    width: 26%;
    height: 100px;
    vertical-align: top;
   /*background-color: #ffdfd3;*/
}
.content>.matchContent>.items>.itemSpace
{
    margin-top: 10px;
    display: inline-block;
    width: 150px;
    height: 80px;
    margin-bottom: 50px;
}
.content>.matchContent>.items>.itemSpace>.itemsquares
{
    display: inline-block;
    width: 35px;
    height: 35px;

}
.content>.matchContent>.items>.trinketcircle
{
    margin-top: 7.5px;
    text-align: center;
    display: inline-block;
    width: 25%;
    height: 60px;
    border-radius: 15px;
}
.content>.matchContent>.players
{
    display: inline-block;
    width: 33.5%;
    height: 100px;
    vertical-align: top;
    visibility: hidden;
}
.content>.matchContent>.players>.red
{
    vertical-align: top;
    display: inline-block;
    width: 47%;
    height: 100px;
    background: #cea7a7;
}

.content>.matchContent>.players>.red>.players1
{
    display: inline-block;
    width: 100%;
    height: 20px;
    background: none;
    text-align: center;
}
.content>.matchContent>.players>.red>.players2
{
    display: inline-block;
    width: 100%;
    height: 20px;
    background: none;
    text-align: center;
    vertical-align: center;
    background: #ce8081;
}
.content>.matchContent>.players>.blue
{
    vertical-align: top;
    display: inline-block;
    width: 47%;
    height: 100px;
    background: #a3cfec;

}
.content>.matchContent>.players>.blue>.players1
{
    display: inline-block;
    width: 100%;
    height: 20px;
    background: none;
    text-align: center;
}
.content>.matchContent>.players>.blue>.players2
{
    display: inline-block;
    width: 100%;
    height: 20px;
    background: none;
    text-align: center;
    background: #78c4ec;

}
.content>.matchContent>.runesbutton
{
    width: 43px;
    height: 43px;
    border-color: black;
    background-color: transparent;
    background-image: url('/Icons/down-arrow.png');
    background-size: 40px 40px;
    visibility: hidden;
}
#runesbutton
{

}
#runesbutton:active
{
    background-color: #242b31;
}
#runesbutton:hover
{
    cursor: pointer;
}
.content>.runesspace
{
    display: none;
    width: 50%;
    min-width: 1000px;
    height: 400px;
    text-align: center;
    background-color: #171a20;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    visibility: hidden;

}
.content>.runesspace>.subbox
{
    display: inline-block;
    width: 45%;
    min-width: 400px;
    height: 100%;
    text-align: left;
    font-family: 'economica','sans-serif';
    color: white;
}
.content>.runesspace>.subbox>.matchruneskeystone
{
    width:195px;
    height: 285px;
    display: inline-block;
}
.content>.runesspace>.subbox>.Secondary
{
    border-color: white;
    width:195px;
    height: 225px;
    display: inline-block;

}
.content>.runesspace>.subbox>.matchruneskeystone>.keystone
{
    width:54px;
    height: 58px;
    display: inline-block;


}
.content>.runesspace>.subbox>.Secondary>.keystone
{
    width:54px;
    height: 58px;
    display: inline-block;


}

.deadspacebottom
{
    width: 100%;
    height: 20px;
    margin-top: 80px;
    vertical-align: top;
    position: relative;
}
/*
===============================
RuneHelp Classes
===============================
 */
.DefaultSpaceRuneHelp
{
    width: 100%;
    height: 100%;
    margin: 20px auto;
    position: relative;
    text-align: center;
}
.TreeSelection
{
    margin-top: 20px;
    width: 1000px;
    min-width: 1200px;
    height: 200px;
    display: inline-block;

}
.Tree
{
    width: 190px;
    height: 200px;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: transparent;
}
.infospace1
{
    width: 65%;
    min-width: 65%;
    height: 2400px;
    text-align: center;
    position: center;
    visibility: hidden;
    display: none;


}
.infospace1>.runeinfo
{
    width: 50%;
    min-width: 1200px;
    height: 200px;
    text-align: center;
    background-color: #171a20;
}
.infospace1>.runeinfo>.runeicon
{
    width: 120px;
    height: 120px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin-top: 45px;
    margin-right: 35px;
    text-align: center;
}
.infospace1>.runeinfo>.infospace
{
    width: 900px;
    height: 150px;
    display: inline-block;
    background: #0a0b11;
    margin-top: 25px;
}
.infospace1>.runeinfo>.infospace>.text
{
    width: 890px;
    height: 130px;
    display: inline-block;
    color: white;
    text-align: center;
}
/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


.keystone .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.keystone .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.keystone:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.homebutton
{
    position: relative;
    width: 120px;
    height: 103%;
    background: #771e29;
    outline: transparent;
    border: transparent;
    margin-right: 680px;
}
